<div id="wrapper">
    <!-- Admin Navigation -->
    <nav id="navbar" style="display: none;" class="navbar navbar-default navbar-static-top header" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header" style="margin: 0 auto;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="z-index: 10;">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>

        <!-- /.navbar-header -->
        <div class="topnav">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="border: none;" (click)="enviarNot()">
                        <span class="icon-smile-o m-icon"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="border: none;" (click)="salir()">
                        <span class="icon-salir m-icon"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!--MENU ADMINISTRACION-->
        <div id="sidebar" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <!--LOGO DE LA PAGINA-->
                <img src="assets/img/LogoMiAnimoWhite.svg" alt="" class="logo">
                <!--IMAGEN DEL USUARIO-->
                <div class="fondo-img degrade-felicidad-h">
                    <div class="contenedor-imf">
                        <img src="assets/img/pl.png" alt="" style="width: 100%;">
                    </div>
                </div>
                <!--TEXTO DEL USUARIO-->
                <div class="info-user">
                    <span>{{name}}</span>
                    <span>{{company}}</span>
                </div>
                <!--OPCIONES DEL MENU-->

                <div class="menu-papa">

                    <div class="contenedor-opcion" #escritorio [routerLink]="['/escritorio']" (click)="seleccionar(escritorio,0)" id="principal">
                        <a>
                            <span class="icon-torta icon-menu"></span>Escritorio
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>
                    <div class="contenedor-opcion" id="areass" [routerLink]="['/areas']" #area (click)="seleccionar(area,1)">
                        <a>
                            <span class="icon-opciones icon-menu"></span>Áreas
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>

                    <!--<div class="contenedor-opcion" #edades (click)="seleccionar(edades,2)">
                        <a><span class="icon-opciones icon-menu"></span>Edades <span class="icon-arrow arrow"></span></a>
                    </div>-->

                    <div class="contenedor-opcion" id="usuarios" #usuarios [routerLink]="['/usuarios']" (click)="seleccionar(usuarios,3)">
                        <a>
                            <span class="icon-user icon-menu"></span>Usuarios
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>
                    <div class="contenedor-opcion" #noticias id="noticias" [routerLink]="['/noticias']" (click)="seleccionar(noticias,4)">
                        <a>
                            <span class="icon-noticia icon-menu"></span>Noticias
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>
                    <div class="contenedor-opcion" id="notas" #notas [routerLink]="['/notas']" (click)="seleccionar(notas,5)">
                        <a>
                            <span class="icon-lapiz icon-menu"></span>Notas
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>

                    <div class="contenedor-opcion" id="home" #mianimo [routerLink]="['/home']" (click)="seleccionar(mianimo,6)">
                        <a>
                            <span class="icon-smile-o m-icon icon-menu"></span>mi Ánimo
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>

                    <div class="contenedor-opcion" id="estadisticas" #estadisticas [routerLink]="['/estadisticas']" (click)="seleccionar(estadisticas,7)">
                        <a>
                            <span class="fa fa-bar-chart" aria-hidden="true" style="padding-right: 6%;"></span>Estadísticas
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>

                    <div class="contenedor-opcion" id="noticiasuser" #noticiasuser [routerLink]="['/noticiasuser']" (click)="seleccionar(noticiasuser,8)">
                        <a>
                            <span class="fa fa-newspaper-o" aria-hidden="true" style="padding-right: 10%;"></span>Noticias
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>

                    <div class="contenedor-opcion" id="notasuser" #notasuser [routerLink]="['/misnotas']" (click)="seleccionar(notasuser,9)">
                        <a>
                            <span class="fa fa-commenting-o" aria-hidden="true" style="padding-right: 10%;"></span>Notas
                            <span class="icon-arrow arrow"></span>
                        </a>
                    </div>


                    <!--FRANJA-->
                    <div class="franja" id="franja">
                        <div class="barra _degrade-felicidad-v"></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>