<header class="headerLarge" no-border>
    <div>
        <div class="contHeader">
            <div class="contImg">
                <img src="assets/img/menuIcons/logoWhite.svg" alt="">
            </div>
            <div class="subtitleHeader" style="color: #b82233;padding: 10px;">
                Noticias</div>
        </div>
    </div>
</header>

<app-mensaje-temporal></app-mensaje-temporal>

<div class="cont" *ngFor="let item of listaNoticias">
    <div class="container" style="width: 100%;">
        <!--cabeza-->
        <div class="row" style="color: #828282;font-size: 12px;padding: 5px 0;">
            <div class="col-xs-6" width-50>{{empresa}}</div>
            <div class="col-xs-6" width-50 style="text-align: right">{{noticias[item].fecha}}</div>
        </div>
        <!--curpo-->
        <div class="row">
            <div class="col" width-100>
                <div class="texto" id="text-{{item}}">
                    <span [innerHTML]="noticias[item].texto"></span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="keyNoticia == item">
            <div class="col" width-100 class="subt">
                ¿Cómo te pareció esta noticia?
            </div>
        </div>
        <div class="row" class="cal" style="margin-top: 20px;" *ngIf="keyNoticia == item">
            <div class="col-xs-2" style="max-width: 8%;" width-20 (click)="calificar(item,'c5')">
                <img src="assets/img/emojis/5.svg" alt="" [class.selec]="validarCont('c5',item)">
            </div>
            <div class="col-xs-2" style="max-width: 8%;" width-20 (click)="calificar(item,'c4')">
                <img src="assets/img/emojis/4.svg" alt="" [class.selec]="validarCont('c4',item)">
            </div>
            <div class="col-xs-2" style="max-width: 8%;" width-20 (click)="calificar(item,'c3')">
                <img src="assets/img/emojis/3.svg" alt="" [class.selec]="validarCont('c3',item)">
            </div>
            <div class="col-xs-2" style="max-width: 8%;" width-20 (click)="calificar(item,'c2')">
                <img src="assets/img/emojis/2.svg" alt="" [class.selec]="validarCont('c2',item)">
            </div>
            <div class="col-xs-2" style="max-width: 8%;" width-20 (click)="calificar(item,'c1')">
                <img src="assets/img/emojis/1.svg" alt="" [class.selec]="validarCont('c1',item)">
            </div>

        </div>
        <div class="row" style="align-items: center; margin-top: 20px;">
            <div width-50 class="col-xs-6 emojis" style="padding: 0 30px;">
                <div class="row" *ngIf="keyNoticia != item">
                    <span class="total">{{noticias[item].total}}</span>
                    <img src="assets/img/emojis/5.svg" alt="">
                    <img src="assets/img/emojis/4.svg" alt="">
                    <img src="assets/img/emojis/3.svg" alt="">
                    <img src="assets/img/emojis/2.svg" alt="">
                    <img src="assets/img/emojis/1.svg" alt="">
                </div>
            </div>
            <div class="col-xs-6" width-50 style="text-align: right;font-size: 25px;">
                <span *ngIf="keyNoticia != item" (click)="abrir(item)"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <span *ngIf="keyNoticia == item" (click)="cerrar(item)"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>


<footer>
    <!--
            <ion-toolbar>
                <ion-grid>
                    <ion-row>
                        <ion-col (tap)="setRoot('perfil')" class="tab" width-25>
                            <ion-icon ios="ios-person" md="md-person"></ion-icon>
                            <span class="icon_texto">Perfil</span>
                        </ion-col>
                        <ion-col (tap)="setRoot('estadisticas')" class="tab" width-25>
                            <ion-icon ios="ios-stats" md="md-stats"></ion-icon>
                            <span class="icon_texto">Estadísticas</span>
                        </ion-col>
                        <ion-col class="tab active_tab" width-25>
                            <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
                            <span class="icon_texto">Noticias</span>
                        </ion-col>
                        <ion-col (tap)="setRoot('notas')" class="tab" width-25>
                            <ion-icon ios="ios-document" md="md-document"></ion-icon>
                            <span class="icon_texto">Notas</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-toolbar>
          -->
</footer>