page-noticias {
    background: #b82233;
}

.headerLarge {
    height: 20vh;
    padding-top: 40px;
}

.contHeader {
    width: 20%;
    margin: auto;
}

.subtitleHeader {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.subt {
    text-align: center;
    color: #909090;
    margin-top: 5vh;
}

.total {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

page-noticias .contentNews {
    width: 95%;
    margin: auto;
}

page-noticias .cardNews {
    width: 100%;
    height: 130px;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 7px;
    transition: height 0.4s ease-out;
}

page-noticias .cardNewsAnimation {
    height: auto;
    max-height: 300px;
    transition: max-height 0.4s ease-out;
}

page-noticias .cardNewsAnimation .contentCard {
    height: auto;
}

page-noticias .cardNews .headerCard {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

page-noticias .cardNews .headerCard .textHeader {
    color: #a3a3a3;
    margin: 0;
    padding: 0 5%;
    font-weight: 300;
    font-size: 13px;
}

page-noticias .cardNews .contentCard {
    width: 90%;
    margin: auto;
    height: 45px;
    margin-top: 17px;
    overflow-y: hidden;
    transition: height 0.4s ease-out;
}

page-noticias .cardNews .contentCard p {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-top: 4px;
}

page-noticias .cardNews .footerCard {
    height: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

page-noticias .cardNews .footerCard .ranking {
    font-size: 14px;
    color: #a3a3a3;
}

page-noticias .cardNews .footerCard .plusNews {
    font-size: 25px;
    color: #a3a3a3;
    transition: 0.6s ease-in-out;
}

page-noticias .cardNews .footerCard .plusMove {
    transform: rotate(45deg);
}

page-noticias .content-ios {
    background: none;
}

page-noticias .content-md {
    background: none;
}

page-noticias .btn-hea {
    font-size: 36px;
    color: white;
    background: none;
}

page-noticias .title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.cont {
    background: white;
    /*width: 100%;*/
    border-radius: 10px;
    min-height: 30vh;
    margin-bottom: 10px;
    padding: 5px;
    margin: 0 20px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.texto {
    display: -webkit-box;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: auto;
    text-overflow: ellipsis;
    padding: 30px 15px;
}

.emojis img {
    width: 20px;
}

.cal span {
    display: block;
    width: 100%;
    text-align: center;
    color: #909090;
}

page-noticias .subt {
    text-align: center;
    color: #909090;
    margin-top: 5vh;
}

page-noticias .header-md::after,
page-noticias .tabs-md[tabsPlacement="top"]>.tabbar::after,
page-noticias .footer-md::before,
page-noticias .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    display: none;
}

page-noticias .selec {
    border-radius: 50%;
    opacity: 0.4;
}

page-noticias .scroll-content {
    margin-top: 100px !important;
}

page-noticias ._back {
    color: white;
    width: 40px;
}

page-noticias .total {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}