<div class="contenedorNota" id="contenedorNota" style="display: none">

    <header class="headerLarge colorOrange" no-border>
        <div>
            <!--<button class="contentMenuPWC" ion-button end menuToggle>
        <div class="menuPWC"></div>
      </button>-->
            <title>
                <div class="miAnimoLogo"></div>
            </title>
        </div>
        <div class="emojiHeader">
            <img src="assets/img/whiteEmojis/{{emocion}}/{{valor}}.svg" alt="">
        </div>
    </header>



    <app-confirmacion></app-confirmacion>


    <div>

        <!--<div class="cont-gener title-top" (click)="toggle = !toggle; mostAreaa= false">
      <div class="cont-selec" >
        <span class="darkRed">Elige alguna de estas notas</span>
        <ion-icon name="ios-arrow-down" class="iconp" *ngIf="!toggle"></ion-icon>
        <ion-icon name="ios-arrow-up" class="iconp" *ngIf="toggle"></ion-icon>
      </div>
    </div>


    <div style="height: 50%" class="cont-gener">
      <div *ngIf="toggle" style="padding-bottom:20px;">
        <div *ngFor="let item of notas;let i = index" class="lista" [class.sup]="i != 0" (click)="selNota(item)">
          <span class="darkRed">{{item}}</span>
        </div>
      </div>-->

        <div *ngIf="!toggle && mostAreaa" style="height: 100%; text-align:center">
            <div class="textAreaCont">
                <textarea [(ngModel)]="textoNota" placeholder="Para nosotros es importante conocer tu estado de ánimo. Si tienes quejas, reclamos o denuncias que estén relacionadas con asuntos éticos, de convivencia y/o de acoso laboral, utiliza los canales previstos para ello (etica@co.pwc.com)."></textarea>
            </div>
            <div class="btn-cont">
                <button full ion-button class="orange-btn" color="light" style="border-radius: 10px" (click)="guardarNota()"><span style="font-family: Georgia, 'Times New Roman', Times;">Guardar</span></button>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>