// ---------------------------------------------------------------
// --------------- PROPIEDADES PARA LOS FILTROS ------------------
// ---------------------------------------------------------------

.marco {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom:25px;
}

.filterTxt{
    display: block;
    margin-top: 1px;
    font-size: 19px;
    font-weight: 300;
}

.filtro-select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

input {
  border: 1px solid #E2E2E2;
  padding: 7px;
  width: 100%;
}

.selector {
  position: relative;
  z-index: 10;
  background: none;
}

.cont-select {
  position: relative;
  .my-icon {
    position: absolute;
    top: 6px;
    right: 4px;
    font-size: 26px;
    color: #848484;
  }
}

select {
  width: 100%;
  height: 35px;
  text-align: center;
  padding-right: 25px;
  padding-left: 10px;
  background: none;
  border-color: #E2E2E2;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 10;
}

select:focus {
  outline: 0;
}


// ---------------------------------------------------------------
// ----------- PROPIEDADES PARA LA TABLA DE USUARIOS -------------
// ---------------------------------------------------------------

.pwc-table{
    background-color: transparent;
    text-align: center;
    thead {
        th{
            border-color:#c6c6c6;
            color:848484;
            font-size: 15px;
        }
    }
    tr{
        td{
            border-color: #c6c6c6;
            font-size: 10px;
            color:#848484;
            padding:10px;
        }
    }
    tr:hover{
        background-color: rgba(0,0,0,0.009);
    }
}

// Campos de texto para editar los datos del usuario
.editTxt{
    background: transparent;
    border:0;
    width: 100%;
}

.userOptions{
    margin : 0 7px;
    font-size: 18px;

    &:hover{
        cursor:pointer;
    }
}

.edit{
    color : #93BF84;

    &:hover{
        color : green;
    }
}

.erase{
    color : #D6809B;
    &:hover{
        color:red;
    }
}

.pagination, .pull-right{
    li{
        background-color: transparent !important;
    }
}

// ---------------------------------------------------------------
// --------------- SECCIÓN PARA EDITAR UN USUARIO -----------------
// ---------------------------------------------------------------
.editSection{
    background-color: white;
    height: 90px;
    border-radius: 10px;
}

.btnEditGroup{
    margin-top:20px;
}

.editInput{
    margin-top:20px;
    border : 0;
    border-bottom:1px solid  #848484;
}

.descativo{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}

.activo{
    width: 10px;
    height: 10px;
    background: #12af12;
    border-radius: 50%;
}

.ausente{
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
}
