<header class="headerLarge colorRadialGradient topnav" no-border>
    <div>
        <div class="miAnimoLogo"></div>
        <div class="subtitleHeader" style="margin-left: -7%;">Mis estadísticas</div>

    </div>
    <div class="marco">
        <div class=" container">
            <div class="row">
                <div class="col-xs-3 date">
                    <div class="item">
                        <label *ngIf="!dateFrom">Fecha: desde</label>
                        <input type="date" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" min="2018" max="2025-12-31" [(ngModel)]="dateFrom" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic">

                    </div>
                </div>
                <div class="col-xs-3 date">
                    <div class="item">
                        <label *ngIf="!dateTo">Fecha: hasta</label>
                        <input type="date" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" min="2018" max="2025-12-31" [(ngModel)]="dateTo" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic">
                    </div>
                </div>
                <div class=" col-xs-3 filterBtn" (click)="filtrarFecha()">
                    <span style="color: #AAA;font-size: 2vw;"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </div>
                <div class="col-xs-3"></div>
            </div>

        </div>
    </div>
</header>


<div style="margin-top: 255px;margin-bottom: 129px;">

    <!--FRECUENCIA RESPUESTA-->

    <span class="miniTituloDarkRed title-top" (click)="pruebaTest()">Frecuencia de respuesta</span>
    <!--quitar método-->

    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-xs-4" width-50>
                <div class="ct-chart small"></div>
            </div>
            <div class="col-xs-6" width-50>
                <span class="red-text" style="padding: 20px; margin-top:20px">En este rango de tiempo, has respondido a tu ánimo:</span>
                <span class="red-text" style="margin-top: 10px">{{respond}} de {{total}} veces</span>
            </div>
            <div class="col-xs-2" width-50>
                <div></div>
            </div>
        </div>
    </div>

    <!--ESTADISTICAS DIARIAS-->
    <span class="miniTituloDarkRed" style="margin-bottom:20px">Cuadro emociones</span>


    <div style="width: 95%; overflow-x: auto; margin: 0 auto">
        <div id="cont" style="min-width: 100%;background: white;">
            <!--<div class="{{emocion}}-bar"></div>-->
            <div class="{{emocion}}-bar" [ngClass]="{'felicidad-bar ct-series-a ct-bar': emocion == 'felicidad', 'motivacion-bar ct-series-a ct-bar': emocion == 'motivacion', 'estres-bar ct-series-a ct-bar': emocion == 'estres'}"></div>
        </div>
    </div>
    <div class="guide-chart">
        <div class="row" style="padding: 3vh;">
            <div class="col-xs-5"></div>
            <div class="col-xs-1 info-circle" [ngClass]="{'info-circle-orange': emocion == 'felicidad', 'info-circle-pink': emocion == 'motivacion', 'info-circle-red': emocion == 'estres'}"></div>
            <span class="col-xs-1" *ngIf="emocion == 'felicidad'">Felicidad</span>
            <span class="col-xs-1" *ngIf="emocion == 'motivacion'">Motivación</span>
            <span class="col-xs-1" *ngIf="emocion == 'estres'">Estrés</span>
            <div class="col-xs-6"></div>
        </div>
    </div>

    <!--PROMEDIOS-->
    <span class="miniTituloDarkRed" style="margin-bottom:20px">Promedios</span>
    <div class="container">
        <!--FELICIDAD-->
        <div class="row" *ngIf="emocion == 'felicidad'">
            <div class="col-xs-3  width-25">
                <div class="estres-pie"></div>
            </div>
            <div class="col-xs-4 width-50">
                <div class="felicidad-pie"></div>
            </div>
            <div class="col-xs-3 width-25">
                <div class="motivacion-pie"></div>
            </div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>

        <!--motivacion-->
        <div class="row" *ngIf="emocion == 'motivacion'">
            <div class="col-xs-3 width-25">
                <div class="estres-pie"></div>
            </div>
            <div class="col-xs-4 width-50">
                <div class="motivacion-pie"></div>
            </div>
            <div class="col-xs-3 width-25">
                <div class="felicidad-pie"></div>
            </div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>

        <!--estres-->
        <div class="row" *ngIf="emocion == 'estres'">
            <div class="col-xs-3  width-25">
                <div class="felicidad-pie"></div>
            </div>
            <div class="col-xs-4 width-50">
                <div class="estres-pie"></div>
            </div>
            <div class="col-xs-3  width-25">
                <div class="motivacion-pie"></div>
            </div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>


    </div>

    <div class="container" style="text-align: center;font-size: 3.7vw;position: relative;top: -15px;">
        <div class="row" *ngIf="emocion == 'felicidad'">
            <div class="col-xs-3 estilofuentepieprom" width-25>Estrés</div>
            <div class="col-xs-4 estilofuentepieprom" width-50>Felicidad</div>
            <div class="col-xs-3 estilofuentepieprom" width-25>Motivación</div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>

        <div class="row" *ngIf="emocion == 'motivacion'">
            <div class="col-xs-3 estilofuentepieprom" width-25>Estrés</div>
            <div class="col-xs-4 estilofuentepieprom" width-50>Motivación</div>
            <div class="col-xs-3 estilofuentepieprom" width-25>Felicidad</div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>

        <div class="row" *ngIf="emocion == 'estres'">
            <div class="col-xs-3 estilofuentepieprom" width-25>Felicidad</div>
            <div class="col-xs-4 estilofuentepieprom" width-50>Estrés</div>
            <div class="col-xs-3 estilofuentepieprom" width-25>Motivación</div>
            <div class="col-xs-2 width-25">
                <div></div>
            </div>
        </div>

    </div>

    <!--COMPARACIONES-->

    <div class="comparacion" [ngClass]="{'felicidadCont': emocion == 'felicidad', 'motivacionCont': emocion == 'motivacion', 'estresCont': emocion == 'estres'}">
        <span class="miniTituloWhite">Tu {{emociones[emocion]}}</span>
        <span style="margin-bottom: 5vh; ">A continuación encontrarás la comparativa de tu ánimo en los diferentes sectores.</span>
        <hr>
        <!--empresa-->
        <div>
            <span class="miniTituloWhite">En tu empresa</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condEmpresa">{{texto.empresa.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condEmpresa">{{texto.empresa.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                              <span *ngIf="condEmpresa"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condEmpresa"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!--cargo-->
        <div *ngIf="tieneCargo">
            <hr>
            <span class="miniTituloWhite">En tu cargo</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condCargo">{{texto.cargo.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condCargo">{{texto.cargo.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                             <span *ngIf="condCargo"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condCargo"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>


        <!--línea de servicio-->
        <div *ngIf="tieneLinea">
            <hr>
            <span class="miniTituloWhite">En tu línea de servicio</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condLinea">{{texto.linea.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condLinea">{{texto.linea.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                          <span *ngIf="condLinea" name="ios-arrow-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condLinea" name="ios-arrow-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!--Sub linea de servicio-->
        <div *ngIf="tieneSubArea">
            <hr>
            <span class="miniTituloWhite">En tu sub línea de servicio</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condSubArea">{{texto.sublinea.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condSubArea">{{texto.sublinea.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                          <span *ngIf="condSubArea" name="ios-arrow-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condSubArea" name="ios-arrow-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!--unidad de negocio-->
        <div *ngIf="tieneNegocio">
            <hr>
            <span class="miniTituloWhite">En tu unidad de negocio</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condNegocio">{{texto.negocio.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condNegocio">{{texto.negocio.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                          <span *ngIf="condNegocio" name="ios-arrow-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condNegocio" name="ios-arrow-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!--Rango de edad-->
        <div *ngIf="tieneEdad">
            <hr>
            <span class="miniTituloWhite">En tu rango de edad</span>
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="col-xs-3" width-20>
                        <img src="assets/img/whiteEmojis/felicidad/5.svg" alt="" class="face-img" *ngIf="emocion == 'felicidad'">
                        <img src="assets/img/whiteEmojis/{{emocion}}/5.svg" alt="" class="face-img" *ngIf="emocion != 'felicidad'">
                    </div>
                    <div class="col-xs-4" width-60>
                        <span class="resoult-txt" *ngIf="condEdad">{{texto.edad.positivo[emocion]}} </span>
                        <span class="resoult-txt" *ngIf="!condEdad">{{texto.edad.negativo[emocion]}} </span>
                    </div>
                    <div class="col-xs-3" width-20>
                        <span style="color: white;font-size: 6vw;">
                          <span *ngIf="condEdad" name="ios-arrow-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        <span *ngIf="!condEdad" name="ios-arrow-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="col-xs-2 width-25">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer>
    <div style="height: 11vh;padding: 2vh;">
        <div class="row">
            <div class="col-xs-3" width-33 (click)="cambiarEmocion('felicidad')">
                <img src="assets/img/emojis/5_alt.svg" alt="" *ngIf="emocion == 'felicidad'">
                <img src="assets/img/emojis/5_alt_gray.svg" alt="" *ngIf="emocion != 'felicidad'">
                <span class="descative" [ngClass]="{'word-felicidad' : emocion == 'felicidad'}" [class.active]="emocion == 'felicidad'">Felicidad</span>
            </div>
            <div class="col-xs-3" width-33 (click)="cambiarEmocion('motivacion')">
                <img src="assets/img/motivacion/5_alt.svg" alt="" *ngIf="emocion == 'motivacion'">
                <img src="assets/img/motivacion/5_alt_gray.svg" alt="" *ngIf="emocion != 'motivacion'">
                <span class="descative" [ngClass]="{'word-motivacion' : emocion == 'motivacion'}" [class.active]="emocion == 'motivacion'">Motivación</span>
            </div>
            <div class="col-xs-3" width-33 (click)="cambiarEmocion('estres')">
                <img src="assets/img/estres/5_alt.svg" alt="" *ngIf="emocion == 'estres'">
                <img src="assets/img/estres/5_alt_gray.svg" alt="" *ngIf="emocion != 'estres'">
                <span class="descative" [ngClass]="{'word-estres' : emocion == 'estres'}" [class.active]="emocion == 'estres'">Estrés</span>
            </div>
            <div class="col-xs-3 width-25">
                <div></div>
            </div>
        </div>
    </div>
    <!--
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col (tap)="setRoot('perfil')" class="tab" width-25>
                    <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    <span class="icon_texto">Perfil</span>
                </ion-col>
                <ion-col class="tab active_tab" width-25>
                    <ion-icon ios="ios-stats" md="md-stats"></ion-icon>
                    <span class="icon_texto">Estadísticas</span>
                </ion-col>
                <ion-col (tap)="setRoot('noticias')" class="tab" width-25>
                    <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
                    <span class="icon_texto">Noticias</span>
                </ion-col>
                <ion-col (tap)="setRoot('notas')" class="tab" width-25>
                    <ion-icon ios="ios-document" md="md-document"></ion-icon>
                    <span class="icon_texto">Notas</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
-->
</footer>