<!--<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Escritorio - Dashboard del administrador</h1>
  </div>
</div>-->


<div class="marco">
    <div class="row">
        <div class="col-lg-4" style="padding-top: 9px;">
            <h2>Ver estadísticas por:</h2>
        </div>
        <!--FILTRO FECHA-->
        <div class="col-lg-3 col-md-3">
            <div class="cont-select">
                <input type='text' id='rango' placeholder="Fecha" style="cursor: defaul;text-align: left;" class="selector filtro-select" />
                <span class="icon-down-open-mini my-icon"></span>
            </div>
        </div>
        <span *ngIf="(date1 || date2)" class="icon-cancel closeTarjeta" (click)="reset();filtroFecha = null"></span>
    </div>
</div>


<div class="row">
    <!--grafica barra diarias-->
    <div class="col-lg-8">
        <h2> Estadísticas históricas de toda la empresa</h2>
        <div class="marco" style="height: 38vh;">
            <div style="width: 100%;overflow-x: auto;">
                <div id="cont" style="min-width: 100%;">
                    <div class="global"></div>
                </div>
            </div>
            <div class="row" style="padding: 5px;">
                <div class="col-xs-12 col-sm-4">
                    <div class="f1" style="background: #FF6700"></div>
                    <span style="padding-left: 10px">Felicidad</span>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="f1" style="background: #EE3F62"></div>
                    <span style="padding-left: 10px">Motivación</span>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="f1" style="background: #80021A"></div>
                    <span style="padding-left: 10px">Estrés</span>
                </div>
            </div>
        </div>

    </div>
    <!--noticias -->
    <div class="col-lg-4">
        <h2>Últimas noticias</h2>
        <div class="marco" *ngIf="noticias.length>0" style="height: 38vh;">
            <div class="columns" style="align-items: center;">
                <div class="column is-2" style="text-align: center;font-size: 30px; cursor:pointer" (click)="indi1 = (indi1 == (noticias.length - 1) ) ? 0: indi1 + 1">
                    <span class="icon-left"></span>
                </div>
                <div class="column is-8">
                    <!--CABEZA-->
                    <div class="columns" style="align-items: center;margin-bottom: 0;">
                        <div class="column is-4" style="text-align: center">
                            <div class="fondo degrade-felicidad-h">
                                <div class="borde-fondo">
                                    <img src="assets/img/pl.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="column is-8">
                            <span class="t1">{{empresa}}</span>
                            <span style="font-weight: 100;display: block; font-size: 10px;" *ngFor="let item of noticias[indi1].area">{{ item }}</span>
                        </div>
                    </div>
                    <!--TEXTO NOTICIA-->
                    <div class="bloqueNoticia" [innerHTML]="noticias[indi1].texto"></div>
                    <!--<textarea readonly style="height: 19vh">{{noticias[indi1].texto}}</textarea>-->
                    <!--FOOTHER-->
                    <div class="columns is-gapless" style="align-items: center;">
                        <div class="column is-10">
                            <span>{{noticias[indi1].fecha}}</span>
                        </div>
                        <div class="column is-1">
                            <span>{{noticias[indi1].total}}</span>
                        </div>
                        <div class="column is-1">
                            <img src="assets/img/felicidad/5.svg" alt="" style="width: 22px;">
                        </div>
                    </div>
                </div>
                <div class="column is-2" style="text-align: center;font-size: 30px;cursor:pointer" (click)="indi1 = (indi1 == 0 ) ? noticias.length - 1: indi1 - 1">
                    <span class="icon-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <!--estadisticas por area-->
    <div class="col-lg-8">
        <h2>Estadísticas históricas por áreas</h2>
        <div class="marco" style="height: 44vh;">
            <div class="row">
                <div class="col-xs-4 col-sm-3" style="text-align: center" *ngFor="let item of felicidad">
                    <span style="display: block;font-size: 10px;">{{ item.area }}</span>
                    <div class="{{item.area}}-pie-1 felicidad"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-3" style="text-align: center" *ngFor="let item of motivacion">
                    <span style="display: block;font-size: 10px;">{{ item.area }}</span>
                    <div class="{{item.area}}-pie-2 motivacion"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-3" style="text-align: center" *ngFor="let item of estres">
                    <span style="display: block;font-size: 10px;">{{ item.area }}</span>
                    <div class="{{item.area}}-pie-3 estres"></div>
                </div>
            </div>


        </div>
    </div>
    <!--notas-->
    <div class="col-lg-4">
        <h2>Notas recientes</h2>
        <div class="marco" *ngIf="notas.length>0" style="height: 44vh;">
            <div class="columns" style="align-items: center;">
                <div class="column is-2" style="text-align: center;font-size: 30px;cursor:pointer" (click)="indi2 = (indi2 == (notas.length - 1) ) ? 0: indi2 + 1">
                    <span class="icon-left"></span>
                </div>
                <div class="column is-8">
                    <!--CABEZA-->
                    <div class="columns" style="align-items: center;margin-bottom: 0;">
                        <div class="column is-4" style="text-align: center">
                            <div class="fondo degrade-felicidad-h">
                                <div class="borde-fondo">
                                    <img src="assets/img/pl.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="column is-8">
                            <span class="t1">{{notas[indi2].nombre}}</span>
                            <span style="font-weight: 100;display: block; font-size: 10px;">{{ notas[indi2].area }}</span>
                        </div>
                    </div>
                    <!--TEXTO NOTICIA-->
                    <textarea readonly style="height: 22vh;">{{notas[indi2].msg}}</textarea>
                    <!--FOOTHER-->
                    <div class="columns is-gapless" style="align-items: center;">
                        <div class="column is-8">
                            <span>{{notas[indi2].fecha}}</span>
                        </div>
                        <div class="column is-2">
                            <div class="bola degrade-{{notas[indi2].emocion}}-h"></div>
                        </div>
                        <div class="column is-2">
                            <img src="assets/img/{{notas[indi2].emocion}}/{{notas[indi2].valor}}.svg" alt="" style="width: 22px;">
                        </div>
                    </div>
                </div>
                <div class="column is-2" style="text-align: center;font-size: 30px;cursor:pointer" (click)="indi2 = (indi2 == 0 ) ? notas.length - 1: indi2 - 1">
                    <span class="icon-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>