<div class="fondo" id='form-login'>
    <div class="login">
        <div class="child">
            <!--nombre de la app-->
            <div class="row">
                <div class="col-xs-12">
                    <img src="assets/img/LogoMiAnimo.svg" alt="" class="logo">
                </div>
            </div>
            <!--campos de texto-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="contido-campo" #micorreo>
                        <input type="email" name="usuario" value="" placeholder="Correo" [(ngModel)]="correo">
                        <span class="icon-user icon-clas"></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="contido-campo" #micontrasena>
                        <input type="password" name="contrasena" value="" placeholder="Contraseña" [(ngModel)]="contrasena">
                        <span class="icon-star icon-clas"></span>
                    </div>
                </div>
            </div>
            <!--Linea de separacion-->
            <div class="row">
                <div class="col-xs-3" style="padding-right: 0">
                    <hr>
                </div>
                <div class="col-xs-6" style="padding: 0">
                    <span class="recuperar" (click)="recuperarContrasena()">¿Olvidó su contraseña?</span>
                </div>
                <div class="col-xs-3" style="padding-left: 0">
                    <hr>
                </div>
                <!--Boton de load-->
                <div class="col-xs-12">
                    <div class="contido-campo">
                        <button type="button" class="boton-inicio" (click)="!cargando && load(micorreo,micontrasena)" id="inicio">
                            <span id="tesxtoBoton">Ingresar</span>
                            <!--Animacion de load-->
                            <div style="width: 100%;margin-top: -3px;" style="display: none" id="loadAnimation">
                                <img src="assets/img/load.gif" alt="" style="width: 48px;">
                            </div>
                        </button>
                        <span class="icon-arrow icon-clas" style="top: 27px;font-size: 18px;" *ngIf="!cargando"></span>
                    </div>
                </div>

                <div class="col-xs-3" style="padding-right: 0">
                    <hr>
                </div>
                <div class="col-xs-6" style="padding: 0">
                    <span>Si aún no estás registrado</span>
                </div>
                <div class="col-xs-3" style="padding-left: 0">
                    <hr>
                </div>
                <div class="col-xs-12">
                    <div class="contido-campo">
                        <button type="button" class="boton-inicio" [routerLink]="['/registro']">
                            <span id="tesxtoBoton">Crear cuenta</span>                                       
                        </button>
                    </div>
                </div>
            </div>
            <img src="assets/img/logo.png" alt="" style="width: 55px;">
        </div>
    </div>
</div>