<header class="headerLarge colorRadialGradient" style="margin-top: 2%;" no-border>
    <div class="emojiHeader">
        <img src="assets/img/menuIcons/happyHeader.svg" alt="">
    </div>
</header>

<app-confirmacion></app-confirmacion>
<app-nota></app-nota>
<!--<mensaje-temporal></mensaje-temporal>
<error-comp></error-comp>
-->

<section>
    <div class="info-user">
        <span class="text-description miniTituloDarkRed">{{name}}</span>
        <span class="text-description miniTituloDarkRed">{{company}}</span>
    </div>
    <div class="cont-20-top" style="position: relative;margin-top: -5%;margin-bottom: 5%;">
        <div class="text-sup">
            <span class="text-description miniTituloDarkRed">Cuéntanos,</span>
            <span class="text-description miniTituloDarkRed">¿Cómo está tu ánimo laboral hoy?</span>
        </div>
    </div>

    <div class="cont-20" [ngClass]="{'closed': !happiness }" (click)="setSelectedH()">
        <span class="miniTituloOrange ">Felicidad</span>
        <div class="caras">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2" *ngFor="let item of felicidad; let i = index">
                        <button (click)="puntear('felicidad',item.value, i)"><img src="assets/img/emojis/{{item.value}}.svg" alt=""></button>
                        <span *ngIf="happiness || (lastTimeHappiness === item.value)">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont-20" [ngClass]="{'closed': !stress}" (click)="setSelectedS()">
        <span class="miniTituloRed">Estrés</span>
        <div class="caras">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2" *ngFor="let item of estres; let i = index">
                        <button (click)="puntear('estres',item.value, i)"><img src="assets/img/estres/{{item.value}}.svg" alt=""></button>
                        <span *ngIf="stress || (lastTimeStress === item.value)">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont-20" [ngClass]="{'closed': !motivation}" (click)="setSelectedM()">
        <span class="miniTituloDarkRed">Motivación</span>
        <div class="caras">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2" *ngFor="let item of motivacion; let i = index">
                        <button (click)="puntear('motivacion',item.value, i)"><img src="assets/img/motivacion/{{item.value}}.svg" alt=""></button>
                        <span *ngIf="motivation || (lastTimeMotivation === item.value)">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>