<!--
  Generated template for the Confirmacion component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="contenedor" id="contenedor" style="display: none">
    <div class="panel" id="panel" style="margin-left: 50%;">
        <span name="close" class="close-icon" (click)="cerrar()"></span>
        <img src="{{urlIcon}}" alt="" class="icono">
        <span class="emocion" *ngIf="emocion !== ''"> {{ emocion }} - {{ nivel }}</span>
        <span class="texto">{{text}}</span>
        <button ion-button color="btnOrange" class="btn" (click)="confirmacion()">Sí</button>
        <button ion-button color="btnDarkRed" class="btn" (click)="cancelacion()">No</button>
    </div>
</div>